.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 28px;
}

.input {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  margin: 0;
  cursor: pointer;

  &:checked ~ .slider .thumb {
    transform: translateX(28px);
  }

  &:checked ~ .slider {
    background-color: var(--color-primary-base);
  }
}

.slider {
  background-color: var(--color-neutral-hover);
  border-radius: 999px;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6px;
  box-sizing: border-box;
  transition: background-color 0.3s;
}

.icon {
  z-index: 1;
  pointer-events: none;
  user-select: none;
  color: var(--color-white);
}

.thumb {
  position: absolute;
  left: 3px;
  width: 22px;
  height: 22px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
  z-index: 2;
}
